<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant - [[${restaurant.restaurantName}]]</title>
</head>
<body>
    <h1 th:text="${restaurant.restaurantName}">Nom du restaurant</h1>
    <p th:text="${restaurant.address}">Adresse du restaurant</p>
    <p th:text="${restaurant.contactInfo}">Contact du restaurant</p>

    <h2>Menu</h2>
    <ul>
        <li th:each="menu : ${restaurant.menus}">
            <h3 th:text="${menu.name}">Nom du menu</h3>
            <p th:text="${menu.description}">Description du menu</p>
            
            <h4>Plats</h4>
            <ul>
                <li th:each="dish : ${menu.dishes}">
                    <strong th:text="${dish.name}">Nom du plat</strong> - 
                    <span th:text="${dish.price}">Prix</span>€
                    <p th:text="${dish.description}">Description du plat</p>
                </li>
            </ul>
        </li>
    </ul>
</body>
</html>
